<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GeoCasher.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>612EECEE1B901FBB005BB92A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>612EED021B901FBC005BB92A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>612EED0D1B901FBC005BB92A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
